/* quiz variables */
:root {
    --color-yellow-gradient: linear-gradient(103.18deg,#ffbd59 -1.75%,#de7f50 101.29%);
    --color-yellow: #FFBD59FF;
    --color-background-white: #fff;
    --color-background-black: #2c3540;
    --color-background-lighten-black: #3a4654;
    --color-background-descr: #515d6a;
    --color-background-descr-border: #222930;
    --color-border: #516276;
    --color-overlay: #000000B2;
}
/* .quiz variables */


/* quiz-styles */
.modal {}

.modal.open .quiz-widget,
.modal.open .quiz-widget__overlay {
    opacity: 1;
    z-index: 1000;
}

.modal.hide .quiz-widget,
.modal.hide .quiz-widget__overlay {
    opacity: 1;
    z-index: 1000;
}

.quiz-widget, .quiz-widget__overlay {
    opacity: 0;
    z-index: -1;
}

.modal.open .quiz-widget__overlay {
    opacity: 1;
}

.modal.hide .quiz-widget {
    opacity: 0;
    -webkit-transition: 0.1s, opacity .5s;
    -o-transition: 0.1s, opacity .5s;
    transition: 0.1s, opacity .5s;
}

.modal.hide .quiz-widget__overlay {
    opacity: 0;
    -webkit-transition: opacity .4s ease-in;
    -o-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
}

.quiz-widget {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100%;
    color: var(--color-background-white);
}

.quiz-widget__overlay {
    height: 100vh;
    opacity: 0;
    background-color: var(--color-overlay);
    -webkit-transition: opacity .4s ease-in;
    -o-transition: opacity .4s ease-in;
    transition: opacity .4s ease-in;
}

.quiz-widget__wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.quiz-widget__container {
    position: relative;
    overflow: auto;
    max-height: 100%;
    padding: 40px;
    margin: 0 auto;
}

.quiz-widget__main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 80%;
    overflow: hidden;
}

.quiz-widget__content {
    padding: 40px 25px 0;
    opacity: 0;
    -webkit-transition: opacity .8s ease-out;
    -o-transition: opacity .8s ease-out;
    transition: opacity .8s ease-out;
}

.quiz-widget__content.active {
    opacity: 1;
}

.quiz-widget__sidebar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    min-width: 1200px;
    width: 1200px;
    min-height: 600px;
    background-color: var(--color-background-black);
    border-radius: 15px;
    -webkit-box-shadow: -1px -2px 20px 3px rgb(0 0 0 / 30%);
    box-shadow: -1px -2px 20px 3px rgb(0 0 0 / 30%);
    overflow: hidden;
}

.quiz-widget__sidebar:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 216px;
    height: 504px;
    background-image: url(../img/popup.png);
    background-repeat: no-repeat;
    mix-blend-mode: color-burn;
    opacity: .3;
    border-radius: 15px;
    pointer-events: none;
}

.quiz-widget__close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    opacity: 0.6;
    -webkit-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 35px;
    color: #fff;
    z-index: 1100;
}

.quiz-widget__close-button:hover {
    opacity: 1;
}

.quiz-widget__close-button:active {
    -webkit-transform: translateY(1px);
    -ms-transform: translateY(1px);
    transform: translateY(1px);
}

.quiz-widget__title {
    margin: 0 0 40px 0;
    font-weight: 400;
    font-size: 30px;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    -webkit-transition: opacity .1s ease-in 50ms, -webkit-box-shadow .2s ease-in, -webkit-transform .3s ease-in;
    transition: opacity .1s ease-in 50ms, -webkit-box-shadow .2s ease-in, -webkit-transform .3s ease-in;
    -o-transition: box-shadow .2s ease-in, transform .3s ease-in, opacity .1s ease-in 50ms;
    transition: box-shadow .2s ease-in, transform .3s ease-in, opacity .1s ease-in 50ms;
    transition: box-shadow .2s ease-in, transform .3s ease-in, opacity .1s ease-in 50ms, -webkit-box-shadow .2s ease-in, -webkit-transform .3s ease-in;
}

.quiz-widget__title.output {
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
}

.quiz-widget__questions-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.quiz-widget__questions-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 49%;
    flex: 0 1 49%;
    margin-bottom: 10px;
    padding: 15px;
    background-color: var(--color-background-black);
    border: 1px solid var(--color-border);
    border-radius: 5px;
    cursor: pointer;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    -webkit-transition: opacity .2s ease-in 50ms, -webkit-box-shadow .2s ease-in, -webkit-transform .3s ease-in;
    transition: opacity .2s ease-in 50ms, -webkit-box-shadow .2s ease-in, -webkit-transform .3s ease-in;
    -o-transition: box-shadow .2s ease-in, transform .3s ease-in, opacity .2s ease-in 50ms;
    transition: box-shadow .2s ease-in, transform .3s ease-in, opacity .2s ease-in 50ms;
    transition: box-shadow .2s ease-in, transform .3s ease-in, opacity .2s ease-in 50ms, -webkit-box-shadow .2s ease-in, -webkit-transform .3s ease-in;
}

.quiz-widget__questions-item.output {
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
}

.quiz-widget__questions-item.input {
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
}

.quiz-widget__questions-item:hover {
    -webkit-box-shadow: 0 5px 4px 0 #0000008c;
    box-shadow: 0 5px 4px 0 #0000008c;
}

/* radio */
.quiz-widget__questions-item input[type=radio] {
    display: none;
}
.quiz-widget__questions-item .checked {
    display: inline-block;
    position: relative;
    margin-right: 15px;
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    left: 0;
    bottom: 0;
    background-color: var(--color-background-lighten-black);
    line-height: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 50%;
    cursor: pointer;
}

/* radio */
.quiz-widget__questions-item input[type=radio] {
    display: none;
}
.quiz-widget__questions-item .checked {
    display: inline-block;
    position: relative;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    left: 0;
    bottom: 0;
    background-color: var(--color-background-lighten-black);
    line-height: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 50%;
    cursor: pointer;
}

/* Checked */
.quiz-widget__questions-item input[type=radio]:checked + .checked {
    -webkit-box-shadow: 0 2px 6px 0 #ffbd5980!important;
    box-shadow: 0 2px 6px 0 #ffbd5980!important;
    border: 2px solid var(--color-yellow);
    /*background-color: var(--color-background-white);*/
}

.quiz-widget__questions-item input[type=radio] + .checked:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    width: 10px;
    height: 10px;
    background: var(--color-yellow-gradient);
    border-radius: 50%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    -o-transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.quiz-widget__questions-item input[type=radio]:checked + .checked:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    background-color: var(--color-yellow);
    border-radius: 50%;
}

/* Hover */
.quiz-widget__questions-item .checked:hover:after {
    -webkit-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    transition: border 0.2s ease-in-out;
}

/* Disabled */
.quiz-widget__questions-item input[type=radio]:disabled + .checked:after {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
/* .radio */

.quiz-widget__questions-item-input-text-wrap {
    position: relative;
    height: 52px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 49%;
    flex: 0 1 49%;
    padding: 0;
}

.quiz-widget__input-text-wrap-counter {
    position: absolute;
    right: 10px;
    bottom: 4px;
    font-size: 9px;
    color: #ffffff;
}

.quiz-widget__questions-item--text-area {
    padding: 0;
}

.quiz-widget__textarea {
    width: 100%;
    height: 100%;
    background-color: var(--color-background-lighten-black);
    padding: 0 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
}

.quiz-widget__textarea::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.65);
    font-size: 14px;
}

.quiz-widget__textarea::-moz-placeholder {
    color: rgba(255, 255, 255, 0.65);
    font-size: 14px;
}

.quiz-widget__textarea:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.65);
    font-size: 14px;
}

.quiz-widget__textarea::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.65);
    font-size: 14px;
}

.quiz-widget__textarea::placeholder {
    color: rgba(255, 255, 255, 0.65);
    font-size: 14px;
}

.quiz-widget__question-descr-wrap {
    position: relative;
    margin: auto 0 auto 10px;
}

.quiz-widget__question-descr-icon {
    display: block;
    width: 10px;
    cursor: help;
}

.quiz-widget__question-descr {
    display: none;
    position: absolute;
    top: 27px;
    left: -120px;
    width: 250px;
    padding: 10px;
    background-color: #515d6a;
    border: 1px solid #222930;
    border-radius: 5px;
    font-size: 12px;
    -webkit-box-shadow: 0 0 16px 8px #ffffff17;
    box-shadow: 0 0 16px 8px #ffffff17;
    z-index: 10000;
}

.quiz-widget__question-descr:after {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent var(--color-background-descr) transparent;
}
.quiz-widget__question-descr:before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent var(--color-background-descr-border) transparent;
}

.quiz-widget__question-descr-icon:hover + .quiz-widget__question-descr {
    display: block;
}

.quiz-widget__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 30px 25px;
    border-top: 1px solid var(--color-border);
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0.3s, -webkit-transform 0.2s ease-in-out;
    transition: opacity 0.3s ease 0.3s, -webkit-transform 0.2s ease-in-out;
    -o-transition: transform 0.2s ease-in-out, opacity 0.3s ease 0.3s;
    transition: transform 0.2s ease-in-out, opacity 0.3s ease 0.3s;
    transition: transform 0.2s ease-in-out, opacity 0.3s ease 0.3s, -webkit-transform 0.2s ease-in-out;
}

.quiz-widget__footer.animate {
    opacity: 0;
    -webkit-transform: translateY(200px);
    -ms-transform: translateY(200px);
    transform: translateY(200px);
}

.quiz-widget__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.quiz-widget__steps-text {
    margin-right: 10px;
}

.quiz-widget__steps-numeric {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.quiz-widget__steps-howMany {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background: var(--color-yellow-gradient);
    border-radius: 50%;
}

.quiz-widget__steps-text-from {
    margin-right: 5px;
}

.quiz-widget__steps-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.quiz-widget__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    background-color: transparent;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.quiz-widget__btn * {
    pointer-events: none;
}

.quiz-widget__btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.quiz-widget__btn--prev {
    min-width: 50px;
    margin-right: 20px;
    border: 1px solid var(--color-border);
}

.quiz-widget__btn--next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 40px;
    background: var(--color-yellow-gradient);
}

.quiz-widget__btn--next .arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.quiz-widget__btn-next-wrap {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.form__small-text {
    display: none;
    position: absolute;
    left: 50%;
    bottom: -15px;
    margin-top: 5px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 10px;
}

.form__small-text.active {
    display: block;
}

.form__small-text span {
    font-weight: bold;
}

.quiz-widget__aside {
    width: 20%;
    padding-top: 40px;
    background-color: var(--color-background-lighten-black);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0.3s, -webkit-transform 0.5s ease-in-out;
    transition: opacity 0.3s ease 0.3s, -webkit-transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out, opacity 0.3s ease 0.3s;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease 0.3s;
    transition: transform 0.5s ease-in-out, opacity 0.3s ease 0.3s, -webkit-transform 0.5s ease-in-out;
}

.quiz-widget__aside.animate {
    opacity: 0;
    -webkit-transform: translateX(200px);
    -ms-transform: translateX(200px);
    transform: translateX(200px);
}

.quiz-widget__bonus, .quiz-widget__bonus-unlock {
    position: relative;
    width: 80%;
    height: 100px;
    margin: 0 auto;
    -webkit-box-shadow: -1px -2px 20px 3px rgb(0 0 0 / 30%);
    box-shadow: -1px -2px 20px 3px rgb(0 0 0 / 30%);
}

.quiz-widget__bonus-img-container {
    position: relative;
    border-radius: 10px;
    border: 1px solid #fff;
    overflow: hidden;
    height: inherit;
    cursor: not-allowed;
}

.quiz-widget__bonus-img-container.veil:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: -o-linear-gradient(331deg, rgb(0 0 0 / 34%) 0%, rgb(255 255 255 / 76%) 100%);
    background: linear-gradient(119deg, rgb(0 0 0 / 34%) 0%, rgb(255 255 255 / 76%) 100%);
}

.quiz-widget__bonus-text {
    padding-left: 20px;
}

.quiz-widget__bonus:after,
.quiz-widget__bonus-unlock.lock:after {
    content: "";
    position: absolute;
    top: -10%;
    right: -5%;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 15px;
    background-image: url("../img/padlock.svg");
    background-color: var(--color-background-lighten-black);
    border: 2px solid #fff;
    border-radius: 50%;
}

.quiz-widget__bonus-unlock.lock:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.quiz-widget__bonus-unlock.lock.moving:after {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    -webkit-transition: -webkit-transform 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    transition: -webkit-transform 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    -o-transition: transform 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    transition: transform 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    transition: transform 1s cubic-bezier(0.68, -0.6, 0.32, 1.6), -webkit-transform 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

/* --------------------FORM CSS---------------------- */
.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.form__container .phone_error {
    margin-top: 5px!important;
}

.form .quiz-widget__thank-alert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: auto;
    height: 100%;
    background-color: #2c3540;
    padding: 50px;
    position: relative;
}

.form .quiz-widget__thank-alert h2 {
    margin-bottom: 40px;
    font-size: 24px;
    text-align: center;
    color: #fff;
    line-height: 29px;
}

.form__left {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 60%;
    height: 100%;
    padding: 20px;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.form__left-arrow {
    opacity: 0;
    position: absolute;
    right: 60px;
    top: 50%;
    -webkit-transform: scaleX(-1) rotate(217deg);
    -ms-transform: scaleX(-1) rotate(217deg);
    transform: scaleX(-1) rotate(217deg);
    -webkit-transition: -webkit-transform 2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    transition: -webkit-transform 2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    -o-transition: transform 2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    transition: transform 2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    transition: transform 2s cubic-bezier(0.68, -0.6, 0.32, 1.6),
    -webkit-transform 2s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.form__left-arrow.animate {
    opacity: 1;
    -webkit-transform: scaleX(-1) rotate(180deg);
    -ms-transform: scaleX(-1) rotate(180deg);
    transform: scaleX(-1) rotate(180deg);
}

.form__left.smooth {
    opacity: 1;
}

.form__message-content {
    width: 70%;
}

.form__title {
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 400;
}

.form__bonus-title {
    margin-bottom: 20px;
    font-size: 14px;
}

.form__bonus {
    width: 210px;
    margin: 0;
}

.form__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    height: 100%;
    padding: 20px;
    border-left: 1px solid var(--color-border);
    -webkit-box-shadow: -3px 0 10px 0 #0000001f;
    box-shadow: -3px 0 10px 0 #0000001f;
    -webkit-transform: translateX(500px);
    -ms-transform: translateX(500px);
    transform: translateX(500px);
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
}

.form__right.smooth {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.form__field {
    margin-bottom: 30px;
}

.form__field-name {
    margin-bottom: 5px;
    font-size: 13px;
}

.form__input {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    max-width: 100%;
    width: 100%;
    padding: 15px;
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #484848;
    border: 0;
    border-radius: 5px;
    font-family: Gilroy;
}

.form__button {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    max-width: 100%;
    width: 100%;
    margin-bottom: 25px;
    padding: 26px 12px;
    background: var(--color-yellow-gradient);
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: Gilroy;
}

.form__small-text {

}

.form__annotation {
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #fff;
    opacity: .3;
}

.error_div {
    position: relative;
}

.phone_error {
    display: none;
    position: absolute;
    bottom: -17px;
    color: red;
    font-size: 12px;
    font-weight: 600;
}
.phone_error.active {
    display: block;
}

/* media */

@media (max-width: 1300px) {
    .quiz-widget__sidebar {
        min-width: 1000px;
        width: 1000px;
    }
    .quiz-widget__bonus, .quiz-widget__bonus-unlock {
        height: 80px;
        font-size: 12px;
    }

}

@media (max-width: 1100px) {
    .quiz-widget__container {
        padding: 25px;
    }

    .quiz-widget__sidebar {
        min-width: 800px;
        width: 800px;
        min-height: 550px;
    }

    .quiz-widget__title {
        font-size: 25px;
    }

    .quiz-widget__questions-item {
        padding: 15px;
        font-size: 14px;
    }

    .quiz-widget__questions-item .checked {
        width: 15px;
        height: 15px;
    }

    .quiz-widget__questions-item input[type=radio]:checked + .checked:after {
        border: 1px solid var(--color-yellow);
    }

    .quiz-widget__questions-item input[type=radio] + .checked:after {
        margin-left: -4px;
        margin-top: -4px;
        width: 8px;
        height: 8px;
    }

    .quiz-widget__questions-item-input-text-wrap {
        padding: 0;
    }

    .quiz-widget__textarea {
        font-size: 14px;
    }

    .quiz-widget__footer {
        padding: 25px;
        font-size: 14px;
    }

    .quiz-widget__steps-howMany {
        width: 20px;
        height: 20px;
    }

    .quiz-widget__btn {
        height: 45px;
    }

    .quiz-widget__btn--next {
        padding: 0 35px;
    }

    .quiz-widget__bonus, .quiz-widget__bonus-unlock {
        height: 80px;
        font-size: 9px;
    }

    .quiz-widget__bonus:after {
        width: 25px;
        height: 25px;
        background-size: 10px;
    }

    /* -------------------- FORM CSS MEDIA ---------------------- */

    .form__title {
        font-size: 19px;
    }

    .form__bonus-title {
        margin-bottom: 15px;
        font-size: 11px;
    }

    .form__right {
        padding: 20px 30px;
    }

    .form__annotation {
        font-size: 12px;
    }
}

@media (max-width: 850px) {
    .quiz-widget__sidebar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 600px;
        width: 600px;
    }

    .quiz-widget__main {
        width: 100%;
        height: 540px;
    }

    .quiz-widget__content {
        margin-bottom: 80px;
        padding: 30px 25px 0;
    }

    .quiz-widget__questions-item {
        padding: 20px;
    }

    .quiz-widget__questions-item .checked {
        width: 20px;
        height: 20px;
    }

    .quiz-widget__questions-item input[type=radio] + .checked:after {
        margin-left: -5px;
        margin-top: -5px;
        width: 10px;
        height: 10px;
    }

    .quiz-widget__questions-item-input-text-wrap {
        min-height: 62px;
        padding: 0;
    }

    .quiz-widget__footer {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
        border-top: none;
    }

    .quiz-widget__steps {
        display: none;
    }

    .quiz-widget__steps-buttons {
        margin-left: auto;
    }

    .quiz-widget__close-button {
        top: 20px;
        right: 20px;
    }

    .quiz-widget__aside {
        position: absolute;
        bottom: 25px;
        left: 25px;
        background-color: transparent;
        width: 150px;
        padding: 0;
    }

    .quiz-widget__bonus, .quiz-widget__bonus-unlock {
        width: 100%;
        height: 87px;
        margin: 0;
    }

    /* -------------------- FORM CSS MEDIA ---------------------- */

    .form {
        display: block;
    }

    .form__left {
        width: 100%;
        padding: 40px;
    }

    .form__left-arrow {
        top: 120%;
        right: auto;
        left: 40px;
    }

    .form__right {
        width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-left: none;
        padding: 0 20px 50px;
    }

    .form__bonus {
        width: 50%;
    }

    .form__container {
        width: 60%;
    }
}

@media (max-width: 700px) {
    .quiz-widget__container {
        padding: 0;
    }

    .quiz-widget__content {
        margin-bottom: 0;
    }

    .quiz-widget__main {
        height: 100vh;
    }

    .quiz-widget__sidebar {
        height: 100vh;
        width: 100%;
        border-radius: 0;
        min-height: 380px;
    }

    /* -------------------- FORM CSS MEDIA ---------------------- */

    .form {
        height: 100%;
    }

    .form__left {
        height: 370px;
    }

    .form__left-arrow {
        left: 18px;
    }

    .form__right {
        height: 50%;
    }

    .form__container {
        width: 55%;
    }
}

@media (max-width: 600px) {
    .quiz-widget__questions-item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        padding: 15px;
    }

    .quiz-widget__questions-item-input-text-wrap {
        min-height: 52px;
        padding: 0;
    }

    .quiz-widget__content {
        padding: 30px 15px 0;
    }

    .quiz-widget__sidebar {
        min-width: 100%;
    }

    .quiz-widget__bonus, .quiz-widget__bonus-unlock {
        width: 110px;
        height: 60px;
        font-size: 10px;
    }

    .quiz-widget__bonus-text {
        padding-left: 3px;
    }

    .quiz-widget__close-button {
        top: 5px;
        right: 5px;
        font-size: 25px;
    }

    .quiz-widget__footer {
        padding: 0 25px 45px;
    }

    .quiz-widget__aside {
        bottom: 45px;
    }

    /* -------------------- FORM CSS MEDIA ---------------------- */

    .form__left {
        height: 350px;
        padding: 40px 20px;
    }

    .form__left-arrow {
        display: none;
    }

    .form__container {
        width: 60%;
    }
}

@media (max-width: 400px) {
    .quiz-widget__title {
        margin-bottom: 30px;
    }

    .quiz-widget__content {
        padding: 45px 10px 0;
    }

    .quiz-widget__sidebar {
        min-width: 320px;
    }

    .quiz-widget__questions-item {
        padding: 15px;
    }

    .quiz-widget__questions-item-input-text-wrap {
        padding: 0;
    }

    .quiz-widget__footer {
        /*padding: 25px 10px;*/
    }

    .quiz-widget__aside {

    }

    .quiz-widget__btn--prev {
        margin-right: 5px;
    }

    .quiz-widget__btn--next {
        padding: 0 25px;
    }

    /* -------------------- FORM CSS MEDIA ---------------------- */

    .form__message-content {
        width: 90%;
    }

    .form__container {
        width: 80%;
    }
}

@media (max-width: 370px) {
    .quiz-widget__questions-item {
        padding: 10px;
    }

    .quiz-widget__questions-item-input-text-wrap {
        min-height: 42px;
        max-height: 42px;
        padding: 0;
    }

    .quiz-widget__footer {
        padding: 0 10px 45px;
    }

    .quiz-widget__aside {
        left: 10px;
    }

    /* -------------------- FORM CSS MEDIA ---------------------- */

    .form__title {
        margin-bottom: 20px;
    }

    .form__left {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        height: 45%;
        min-height: 260px;
        padding: 30px 20px;
    }

    .form__right {
        height: 55%;
    }

    .form__button {
        margin-bottom: 10px;
    }

    .form__annotation {
        font-size: 10px;
    }
}


/* .media */

/* .quiz-styles */
